# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
source/
# IDE / Editor specific
.vscode/
.idea/
*.DS_Store

secrets.json
.env
*.log
.claude